{% extends "carpool/layout.html" %}
{% load static %}

{% block body %}

<h2>You are a passanger on these rides</h2>

<div>
    {% include 'carpool/messages.html' %}
</div>

{% for ride in rides %}



{% if user in ride.passangers.all %}
<div class="card m-2">
    <div class="row g-0">
        <div class="col-md-3 text-center p-2 imageCard">
            <a href="{% url 'userProfile' ride.driver.id %}"><img src="{{ ride.driver.image.url }}" alt="..."
                    height="120" width="120" class="rounded-circle"></a>

            <span>
                <p class="card-text"><strong>{{ ride.driver}}</strong></p>
            </span>
        </div>
        <div class="col-md-6">

            <div class="card-body" style="padding:0">



                <div class="d-flex align-items-center">
                    <h4 class="card-text">{{ ride.cityFrom }}</h4>
                    <i class="fa fa-long-arrow-right fa-3x" style="padding: 5px;" aria-hidden="true"></i>
                    <h4 class="card-text">{{ ride.cityTo }}</h4>
                </div>





                <div class="">


                    {% if user in ride.usersRated.all %}
                    <p class="badge badge-warning rated" style="margin-right: 5px;" id="rRide">You have rated this
                        ride.
                        Thanks!
                    </p>
                    {% elif ride.completed == True %}
                    <p class="badge badge-warning" style="margin-right: 5px;">Ride is completed</p>
                    <button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" value="{{ ride.id }}" id="rideID" onclick="showRideId(this)">
                        Rate ride
                    </button>
                    {% else %}
                    <p class="badge badge-primary">To be completed</p>
                    {% endif %}




                </div>

                <div class="d-flex align-items-center driverName">
                    <p class="card-text pt-1 pr-2">Your Driver:<strong> <a
                                href="{% url 'userProfile' ride.driver.id %}">{{ ride.driver}}</a></strong></p>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Please let us know how was your ride...
                                </h5>
                            </div>
                            <div>
                                <form action="{% url 'rateRide' %}" method="post">
                                    {% csrf_token %}
                                    <div style="display: none;"><input type="text" id="thisID" name="thisRideID"></div>

                                    <div>
                                        <textarea name="rideText" class="form-control" id="message-text" rows="5"
                                            placeholder="Describe you experience" required></textarea>
                                    </div>



                                    <div class="d-flex justify-content-center p-2">
                                        {% for rate in rates %}
                                        <button class="fa fa-star starButton" id="starButton" name="submit"
                                            type="submit" value="{{ rate }}"></button>

                                        {% endfor %}
                                    </div>


                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Modal end -->



                <div class="d-flex align-items-center">
                    <i class="fa fa-calendar fa-lg" style="padding: 5px;" aria-hidden="true"></i>
                    <span>
                        <p class="card-text">{{ ride.leavingOn}}</p>
                    </span>
                </div>

                <div class="d-flex align-items-center">
                    <i class="fa fa-clock-o fa-lg" style="padding: 5px;" aria-hidden="true"></i>
                    <span>
                        <p class="card-text">{{ ride.timeLeaving }}</p>
                    </span>
                </div>

                <div class="d-flex align-items-center">
                    <i class="fa fa-location-arrow fa-lg" style="padding: 5px;" aria-hidden="true"></i>
                    <span>
                        <p class="card-text">{{ ride.pickUpAddress }}</p>
                    </span>
                    <a href="https://www.google.com/maps/place/{{ ride.pickUpAddress }}" target=”_blank”>(Google
                        maps)</a>
                </div>

                <div class="d-flex align-items-center">
                    <i class="fa fa-hashtag fa-lg" style="padding: 5px;" aria-hidden="true"></i>
                    <p class="card-text">{{ ride.plateNumber }}</p>
                </div>

                <div class="d-flex align-items-center">
                    <i class="fa fa-eur fa-lg" style="padding: 5px;" aria-hidden="true"></i>
                    <p class="card-text">{{ ride.price }}</p>
                </div>

                <form action="{% url 'addPassenger' ride.id %}" method="POST">
                    {% csrf_token %}
                    <div class="d-flex align-items-center">
                        <p class="card-text pt-1 pr-2"><strong>Seats taken</strong> {{ ride.passangers.count }}/{{ ride.seats }}</p>
                        {% if ride.completed != True %}
                        <button class="btn btn-warning btn-sm"><strong>Leave Ride</strong> </button>
                        {% endif %}
                        {% if ride.passangers.count == ride.seats %}
                        <p class="badge badge-danger p-2 m-1">All seats are taken</p>
                        {% endif %}
                    </div>
                </form>

            </div>
        </div>
        <div class="col-md-3 text-center imageCard">
            <img src="{{ ride.carImage.url }}" alt="..." class="img-fluid">
        </div>
    </div>
</div>


{% endif %}






{% endfor %}





<script src="https://kit.fontawesome.com/511e81d08a.js" crossorigin="anonymous"></script>

{% endblock %}

{% block script %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="{% static 'carpool/script.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>







{% endblock %}