{% extends "carpool/layout.html" %}
{% load static %}

{% block body %}

<h2>You are a driver for these rides</h2>

{% for ride in rides %}
{% if user == ride.driver %}
<div class="card m-2">
    <div class="row g-0">
        <div class="col-md-3 text-center p-2 imageCard">
            <img src="{{ ride.driver.image.url }}" alt="..." height="120" width="120" class="rounded-circle">
            <span>
                <p class="card-text"><strong>{{ ride.driver}}</strong></p>
            </span>
        </div>
        <div class="col-md-6">

            <div class="card-body" style="padding:0">

                <div class="d-flex align-items-center">
                    <h4 class="card-text">{{ ride.cityFrom }}</h4>
                    <i class="fa fa-long-arrow-right fa-3x" style="padding: 5px;" aria-hidden="true"></i>
                    <h4 class="card-text">{{ ride.cityTo }}</h4>

                </div>

                <div class="d-flex align-items-center">
                    {% if ride.completed == True %}
                    <p class="badge badge-warning">Ride is completed</p>
                    {% else %}
                    <p class="badge badge-primary">To be completed</p>
                    {% endif %}
                </div>

                <div class="d-flex align-items-center">
                    <i class="fa fa-calendar fa-lg" style="padding: 5px;" aria-hidden="true"></i>
                    <span>
                        <p class="card-text">{{ ride.leavingOn}}</p>
                    </span>
                </div>

                <div class="d-flex align-items-center">
                    <i class="fa fa-clock-o fa-lg" style="padding: 5px;" aria-hidden="true"></i>
                    <span>
                        <p class="card-text">{{ ride.timeLeaving }}</p>
                    </span>
                </div>

                <div class="d-flex align-items-center">
                    <i class="fa fa-location-arrow fa-lg" style="padding: 5px;" aria-hidden="true"></i>
                    <span>
                        <p class="card-text">{{ ride.pickUpAddress }}</p>
                    </span>
                    <a href="https://www.google.com/maps/place/{{ ride.pickUpAddress }}" target=”_blank”>(Google
                        maps)</a>
                </div>

                <div class="d-flex align-items-center">
                    <i class="fa fa-hashtag fa-lg" style="padding: 5px;" aria-hidden="true"></i>
                    <p class="card-text">{{ ride.plateNumber }}</p>
                </div>

                <div class="d-flex align-items-center">
                    <i class="fa fa-eur fa-lg" style="padding: 5px;" aria-hidden="true"></i>
                    <p class="card-text">{{ ride.price }}</p>
                </div>

                <div class="d-flex align-items-center">
                    <form action="{% url 'deleteRoute' ride.id %}" method="POST">
                        {% csrf_token %}
                        <div class="d-flex align-items-center">
                            <p class="card-text pt-1 pr-2"><strong>Seats taken</strong> {{ ride.passangers.count }}/{{ride.seats }}</p>
                            {% if ride.passangers.count == ride.seats %}
                            <p class="badge badge-warning">All seats are takan</p>
                            {% endif %}
                            <div class="col-md-2">
                                <input class="btn btn-danger" type="submit" value="Delete">
                            </div>


                        </div>
                    </form>
                    {% if ride.completed == False %}
                    <form action="{% url 'completeRoute' ride.id %}" method="POST">
                        {% csrf_token %}
                        <div class="col-md-2">
                            <input class="btn btn-success" type="submit" value="Complete">
                        </div>
                    </form>
                    {% endif %}


                </div>


            </div>
        </div>
        <div class="col-md-3 text-center imageCard">
            <img src="{{ ride.carImage.url }}" alt="..." width="300">
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

<script src="https://kit.fontawesome.com/511e81d08a.js" crossorigin="anonymous"></script>





{% endblock %}

{% block script %}

<script src="{% static 'carpool/script.js' %}"></script>

{% endblock %}